<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<nav th:fragment="_navbar" class="navbar top-navbar">
    <a href="#" class="sidebar-toggler">
        <i data-feather="menu"></i>
    </a>
    <div class="navbar-content">
        <h3 class="sidebar-brand m-lg-3" style="color: #000865">Plugins for every IDE
        <img src="/assets/plugin.svg"></h3>
        <ul class="navbar-nav">
            <li th:if="${isAuth}" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="wd-40 ht-40 img-account-profile rounded-circle" th:src="${loggedUser.getPhotoUrl()}"
                         src="https://via.placeholder.com/30x30"
                         alt="profile">
                </a>
                <div class="dropdown-menu p-0" aria-labelledby="profileDropdown">
                    <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
                        <div class="mb-3">
                            <img class="wd-80 ht-80 img-account-profile rounded-circle" th:src="${loggedUser.getPhotoUrl()}"
                                 src="https://via.placeholder.com/80x80"
                                 alt="">
                        </div>
                        <div class="text-center">
                            <p class="tx-16 fw-bolder" th:text="${loggedUser.getUsername()}">Amiah Burton</p>
                            <p class="tx-12 text-muted" th:text="${loggedUser.getEmail()}">amiahburton@gmail.com</p>
                        </div>
                    </div>
                    <ul class="list-unstyled p-1">
                        <a th:href="@{/users/{id}(id=${loggedUser.getId()})}"
                           href="../pages/general/profile.html" class="text-body ms-0">
                        <li class="dropdown-item py-2">
                                <i class="me-2 icon-md" data-feather="user"></i>
                                <span>Profile</span>
                        </li>
                        </a>
                        <a th:href="@{/users/{id}/edit(id=${loggedUser.getId()})}"
                           class="text-body ms-0">
                        <li class="dropdown-item py-2">
                                <i class="me-2 icon-md" data-feather="edit"></i>
                                <span>Edit Profile</span>
                        </li>
                        </a>
                        <a th:href="@{/users/{id}/change-password(id=${loggedUser.getId()})}"
                           class="text-body ms-0">
                        <li class="dropdown-item py-2">
                                <i class="me-2 icon-md" data-feather="lock"></i>
                                <span>Change password</span>
                        </li>
                        </a>
                        <a th:href="@{/users/{id}/invite(id=${loggedUser.getId()})}"
                           class="text-body ms-0">
                        <li class="dropdown-item py-2">
                                <i class="me-2 icon-md" data-feather="globe"></i>
                                <span>Invite friend</span>
                        </li>
                        </a>
                        <a th:href="@{/logout}" href="javascript:" class="text-body ms-0">
                        <li class="dropdown-item py-2">
                            <i class="me-2 icon-md" data-feather="log-out"></i>
                                <span>Log Out</span>
                        </li>
                        </a>
                    </ul>
                </div>
            </li>
            <li class="nav-item" th:unless="${isAuth}">
                <a class="btn btn-primary" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item" th:unless="${isAuth}">
                <a class="btn btn-outline-primary" th:href="@{/register}">Register</a>
            </li>
        </ul>
    </div>
</nav>