<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
</head>
<nav th:fragment="_sidebar" class="sidebar">
    <div class="sidebar-header">
        <a th:href="@{/}" href="#" class="sidebar-brand">
            Addonis
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/addons}" class="nav-link">
                    <i class="link-icon" data-feather="search"></i>
                    <span class="link-title">Browse Addons</span>
                </a>
            </li>
            <li class="nav-item nav-category" th:if="${isAuth && loggedUser.isAdmin()}">admin panel</li>
            <li class="nav-item" th:if="${isAuth && loggedUser.isAdmin()}">
                <a th:href="@{/addons/pending-addons}" class="nav-link">
                    <i class="link-icon" data-feather="clock"></i>
                    <span class="link-title">Pending Addons</span>
                </a>
            </li>
            <li class="nav-item" th:if="${isAuth && loggedUser.isAdmin()}">
                <a th:href="@{/users}" class="nav-link">
                    <i class="link-icon" data-feather="activity"></i>
                    <span class="link-title">Active Users</span>
                </a>
            </li>
            <li th:if="${isAuth}" class="nav-item nav-category">User panel</li>
            <li th:if="${isAuth}" class="nav-item">
                <a th:href="@{/addons/create}" class="nav-link">
                    <i class="link-icon" data-feather="upload-cloud"></i>
                    <span class="link-title">Upload Addon</span>
                </a>
            </li>
            <li th:if="${isAuth}" class="nav-item">
                <a th:href="@{/addons/user/{id}(id=${loggedUser.getId()})}" class="nav-link">
                    <i class="link-icon" data-feather="folder"></i>
                    <span class="link-title">My Addons</span>
                </a>
            </li>
            <li class="nav-item nav-category">Docs</li>
            <li class="nav-item">
                <a href="https://www.nobleui.com/html/documentation/docs.html" class="nav-link"
                   th:href="@{/swagger-ui/index.html}">
                    <i class="link-icon" data-feather="hash"></i>
                    <span class="link-title">Swagger UI</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.nobleui.com/html/documentation/docs.html" class="nav-link"
                   th:href="@{/}">
                    <i class="link-icon" data-feather="hash"></i>
                    <span class="link-title">About Us</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<nav class="settings-sidebar">
    <div class="sidebar-body">
        <a href="#" class="settings-sidebar-toggler ">
            <i data-feather="settings"></i>
        </a>
        <h6 class="text-muted mb-2">Sidebar:</h6>
        <div class="mb-3 pb-3 border-bottom">
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="sidebarThemeSettings" id="sidebarLight"
                       value="sidebar-light" checked>
                <label class="form-check-label" for="sidebarLight">
                    Light
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="sidebarThemeSettings" id="sidebarDark"
                       value="sidebar-dark">
                <label class="form-check-label" for="sidebarDark">
                    Dark
                </label>
            </div>
        </div>
        <div class="theme-wrapper">
            <h6 class="text-muted mb-2">Light Theme:</h6>
            <a class="theme-item active" href="/dashboard">
                <img src="/assets/screenshots/light.jpg" alt="light theme">
            </a>
            <h6 class="text-muted mb-2">Dark Theme:</h6>
            <a class="theme-item" href="/dashboard">
                <img src="/assets/screenshots/dark.jpg" alt="light theme">
            </a>
        </div>
    </div>
</nav>