<!DOCTYPE html>
<html lang="en">
<head th:fragment="resources">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Petar Petrov, Atanas Yovchev, Stefan Stefanov">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- End fonts -->

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


  <!-- Custom Pop-ups Library -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <!-- core:css -->
  <link rel="stylesheet" href="/vendors/core/core.css">
  <!-- endinject -->

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/vendors/flatpickr/flatpickr.min.css">
  <!-- End plugin css for this page -->

  <!-- inject:css -->
  <link rel="stylesheet" href="/fonts/feather-font/css/iconfont.css">
  <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
  <!--  Swiper CSS-->
  <link rel="stylesheet" href="/css/demo1/swiper-bundle.min.css">
  <!-- endinject -->

  <!-- Layout styles -->
  <link rel="stylesheet" href="/css/demo1/style.css">
  <!-- End layout styles -->

  <link rel="shortcut icon" href="/assets/plugin.svg"/>

</head>
<body>

<div th:fragment="js-scripts">
  <script src="/vendors/core/core.js"></script>
  <!-- endinject -->

  <!--            Swipper JS-->
  <script src="/vendors/swiper/swiper-bundle.min.js"></script>

  <!-- Plugin js for this page -->
  <script src="/vendors/flatpickr/flatpickr.min.js"></script>
  <script src="/vendors/apexcharts/apexcharts.min.js"></script>
  <!-- End plugin js for this page -->
  <script src="/js/dashboard-light.js"></script>
  <!-- inject:js -->
  <script src="/vendors/feather-icons/feather.min.js"></script>
  <script src="/js/template.js"></script>

  <!-- our js file -->
  <script src="/js/scripts.js"></script>
</div>
</body>
</html>