<!DOCTYPE html>
<html lang="en">
<head th:insert="/partials/resources::resources">

    <title>Forbidden</title>

</head>
<body>
<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">
            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto d-flex flex-column align-items-center">
                    <img src="/assets/others/forbidden.jpg"
                         class="img-error-page mb-2" alt="403">
                    <h1 class="fw-bolder mb-22 mt-2 tx-80 text-muted">403</h1>
                    <h4 class="mb-2">Forbidden</h4>
                    <h6 class="text-muted mb-3 text-center">Not this time, access forbidden!</h6>
                    <a th:href="@{/}">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- core:js -->
<script src="/vendors/core/core.js"></script>
<!-- endinject -->

<!-- Plugin js for this page -->
<!-- End plugin js for this page -->

<!-- inject:js -->
<script src="/vendors/feather-icons/feather.min.js"></script>
<script src="/js/template.js"></script>
<!-- endinject -->

<!-- Custom js for this page -->
<!-- End custom js for this page -->

</body>
</html>