<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/resources :: resources">

    <title>User Profile</title>
</head>
<body>
<div class="main-wrapper">

    <!-- partial:partials/_sidebar.html -->
    <nav th:replace="/partials/_sidebar::_sidebar"></nav>
    <!-- partial -->

    <div class="page-wrapper">

        <!-- partial:partials/_navbar.html -->
        <nav th:replace="/partials/_navbar::_navbar"></nav>
        <!-- partial -->

        <div class="page-content">
            <section style="background-color: #eee;">
                <div class="card">
                    <div class="card-body">
                        <div class="container-xl px-4 mt-4">
                            <form th:object="${userDto}"
                                  th:action="@{__${#httpServletRequest.requestURI}__}" method="post"
                                  enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <!-- Profile picture card-->
                                        <div class="card mb-4 mb-xl-0">
                                            <div class="card-header">Profile Picture</div>
                                            <div class="card-body text-center">
                                                <!-- Profile picture image-->
                                                <img th:src="${image}"
                                                     class="wd-150 ht-150 img-account-profile mb-2 rounded-circle"
                                                     src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                                <!-- Profile picture help block-->
                                                <div class="small font-italic text-muted mb-4">JPG/JPEG or PNG
                                                </div>
                                                <!-- Profile picture upload button-->
                                                <input type="file" id="actual-btn" name="image"
                                                       accept="image/png, image/jpeg, image/jpg"
                                                       class="d-none"/>
                                                <label for="actual-btn" class="btn btn-outline-primary" type="button">Upload
                                                    new image</label>
                                                <div class="mt-2" id="file-chosen">No file chosen</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8">
                                        <!-- Account details card-->
                                        <div class="card mb-4">
                                            <div class="card-header">Account Details</div>
                                            <div class="card-body">

                                                <!-- Form Group (email address)-->
                                                <div class="mb-3">
                                                    <label class="small mb-1" for="inputEmailAddress">Email
                                                        address</label>
                                                    <input th:field="*{email}" class="form-control"
                                                           id="inputEmailAddress" type="email"
                                                           placeholder="Enter your email address"
                                                           value="name@example.com">
                                                </div>
                                                <div th:if="${#fields.hasErrors('email')}"
                                                     class="alert alert-danger mt-1"
                                                     role="alert">
                                                    <div class="mb-1" th:each="err : ${#fields.errors('email')}">
                                                        <i data-feather="alert-circle"></i>
                                                        <span th:text="${err}"></span>
                                                    </div>
                                                </div>
                                                <!-- Form Row-->
                                                <div class="row gx-3 mb-3">
                                                    <!-- Form Group (phone number)-->
                                                    <div class="col-md-6">
                                                        <label class="small mb-1" for="inputPhone">Phone number</label>
                                                        <input th:field="*{phoneNumber}" class="form-control"
                                                               id="inputPhone" type="tel"
                                                               placeholder="Enter your phone number"
                                                               value="555-123-4567">
                                                    </div>
                                                </div>
                                                <div th:if="${#fields.hasErrors('phoneNumber')}"
                                                     class="alert alert-danger mt-1"
                                                     role="alert">
                                                    <div class="mb-1" th:each="err : ${#fields.errors('phoneNumber')}">
                                                        <i data-feather="alert-circle"></i>
                                                        <span th:text="${err}"></span>
                                                    </div>
                                                </div>
                                                <!-- Save changes button-->
                                                <input class="btn btn-primary" value="Save Changes" type="submit">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
<footer th:replace="/partials/_footer::_footer"></footer>
<script>
    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name
    })
</script>

<!--This should always be the last script insert -->
<div th:replace="/partials/resources :: js-scripts"></div>
</body>
</html>