<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/resources :: resources">
    <meta charset="UTF-8">
    <meta name="description" content="Verification success page">
    <title>Verification success</title>
</head>
<body>
<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">
            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto d-flex flex-column align-items-center">
                    <img src="/assets/others/success2.png"
                         class="img-error-page mb-2" alt="success">
                    <h4 class="mb-2">Verification Successful!</h4>
                    <h6 class="text-muted mb-3 text-center">You can now log in to your account.</h6>
                    <a th:href="@{/}">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--This should always be the last script insert -->
<div th:replace="/partials/resources :: js-scripts"></div>
</body>
</html>